
.nav-wrapper {
        background-color: #00b0ff !important;
}


h2 {
<<<<<<< HEAD
text-align: center;
=======
        text-align: center;
        font-family: 'DM Serif Display', serif;
>>>>>>> 4441a5bbf9382da8468262b453567236438a4141
}

img{
height: 300px;
width:500px;
display: block;
margin-left: auto;
margin-right: auto;
}



        


