
nav-wrapper {
        background-color: #00b0ff !important;

}
h2 {
 text-align: center;
 font-family: "Times New Roman", Times, serif;
}

img {
        margin: auto 5px;
        width: 500px;
        height: 500px;
        float: center;
}


